<md-sidenav-container fullscreen>
  <app-side-nav [open]="showSidenav$ | async">
    <div class="close-button" (click)="onCloseSidenav()">
      <md-icon class="fa fa-lg close-icon" fontIcon="fa-times"></md-icon>
      <span class="secondary text-close">Close</span>
    </div>
    <app-nav-item
      (activate)="onCloseSidenav()"
      routerLink="/"
      icon="fa-home"
      hint="Go to home back">
      Home
    </app-nav-item>
    <app-nav-item
      (activate)="onCloseSidenav()"
      routerLink="/student"
      icon="fa-users"
      hint="Go to students page!">
      Students page
    </app-nav-item>
    <app-nav-item
      (activate)="onCloseSidenav()"
      routerLink="/subject"
      icon="fa-users"
      hint="Go to ssubjects page!">
      Subjects page
    </app-nav-item>
  </app-side-nav>
  <app-header (openSidenav)="onOpenSidenav()"></app-header>
  <router-outlet></router-outlet>
</md-sidenav-container>

